@use "./mixins" as m
@use "./vars" as v
    
#app
    
    // border: 1px solid v.$text-light
    margin: 0rem auto
    max-width: 768px
    min-height: 85vh
    // color: v.$text-light

    display: flex
    flex-direction: column
    justify-content: space-between

    +m.regular-text-col
    +m.mobile
        max-width: 100%
    
body
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: v.$font-stack
    background-color: v.$bg-light
    font-weight: 400

button
    border: 1px solid v.$text-light
    background-color: v.$bg-light
    cursor: pointer
    width: fit-content
    font-family: v.$font-stack
    font-size: 1.25rem
    margin: 1rem
    padding: 0.75rem
    color: v.$text-light
    +m.transition(color, background-color, width, height)

    &:hover
        background-color: v.$acc-green
        color: v.$bg-light

a
    color: v.$acc-green
    &:visited
            color: v.$acc-green